body{
	font-family: roboto;
	background: #f2f5f7;
	color: #3a4752;
}
#mainNav{
	height: 78px;
	background: #fff;
	border: none;
	margin: 0;
}
.form-control::-moz-placeholder{
  color: #c8cccf;
}
.form-control::-webkit-input-placeholder {
    color: #c8cccf;
}

/*search box*/
.search-box {
    margin: 0;
}
.search-box .form-control,
.search-box .input-group-addon,
.search-box .btn-default{
	border: none;
	box-shadow: none;
	background: #fff;
	color: #868f98;
}
.search-box .input-group-addon{
	border-radius: 0;
	height: 20px;
}
.search-box .btn-default{
	border: none;
	background: none;
	padding: 0 12px;
	border-right: 1px solid #ddd;
	margin: 0 !important;
}
.search-box .btn-default:active{
	background: none;
	color: #868f98;
	border-color: #ddd;
}

/*logo*/
.logo {
  color: #3a4752;
  display: table;
  font-size: 18px;
  margin: 3px auto 0;
}
.logo:hover{
	color: #3a4752;
	text-decoration: none;
}
.header-nav {
  border-left: 1px solid #ddd;
  color: #868f98;
  float: right;
  font-size: 16px;
  margin: 3px 0 0;
  padding: 2px 0 0 18px;
}
.header-user {
  float: right;
  margin: 0 20px 0 0;
  position: relative;
}
.active-ind {
  background: #f86d72 none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 12px;
  height: 12px;
  position: absolute;
  right: -2px;
  top: -2px;
  width: 12px;
}
.dropdown-toggle {
  display: block;
}

#mainNav {
  padding: 20px 0 0;
}

/*slider*/
.main-slider{
	display: block;
	color: #fff;	
}
.main-slider img{
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.main-slider .col-xs-6{
	border: .5px solid #fff;
}
.slide-1, 
.slide-2, 
.slide-3 {
  height: 360px;
  padding: 30px 30px 0;
}
.slide-1{
	background: #f7a1a4;
}
.slide-2{
	background: #e4accb;
}
.slide-3{
	background: #88cedc;
}
.slide-left-img img{
	box-shadow: 0 4px 15px rgba(0,0,0,.5);
}
.main-slider .btn {
  background: #fff none repeat scroll 0 0;
  border-radius: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
  padding: 10px 25%;
  margin: 15px 0 0;
  color: #444;
}
.main-slider .slide-2 .btn{
	color: #8a466c;
}
.slide-rating {
  font-size: 12px;
  margin: 15px 0;
}
.slide-rating > img {
  margin: -3px 10px 0 0;
}
.slide-para {
  font-size: 15px;
  line-height: 24px;
  margin: 22px 0;
}
.main-slider h3 {
  margin: 0 0 5px;
}
.film_roll_wrapper {
  height: 450px !important;
}

/*plugin slider css override*/
.film_roll_prev, .film_roll_next {
	background: rgba(255,255,255, .8) !important;
	color: #b87072 !important;
	opacity: 1 !important;
	width: 60px !important;
	height: 60px !important;
	border-radius: 30px !important;
	line-height: 50px !important;
	border: none !important;
	font-size: 70px !important;
	font-weight: 300 !important;
	box-shadow: 0 5px 10px rgba(0,0,0,.4);
	text-decoration: none;
}
.film_roll_pager{
	display: none;
}

.mid-section{
	margin: 50px 0 0;
}
/*Left Sidebar*/
.left-box {
  float: left;
  margin: 0 2%;
  width: 17%;
}
.left-box h4 {
  font-weight: normal;
}
.author-of-week {
  display: block;
  margin: 15px 0 0;
}
.author-of-week ul li {
  display: block;
  margin: 10px 0;
  overflow: hidden;
  padding: 5px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.author-of-week ul li .authr-pic {
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  margin: 0 12px 0 0;
  position: relative;
  top: -3px;
}	
.book-of-year{
	display: block;
	margin-top: 30px;
}
.book-of-year ul li{
	margin: 20px 0;
}

.book-of-year .sidebar-book {
  float: left;
  margin: 0 20px 0 0;
}
.book-of-year .name-authr h5 {
  font-size: 15px;
  font-weight: normal;
  line-height: 150%;
}
.book-of-year .name-authr p {
  color: #8697a4;
}
.left-box ul.list-unstyled {
  margin: 30px 0 0;
}

/*Gallery*/
.right-box {
  float: left;
  width: 79%;
}
.grid {
  margin: 0 ;
}
.element-item{
	width: 49.9%;
}
.gallery-book-box {
  display: block;
  margin: 10% 4% 2%;
}
.background-card{
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 2px 2px rgba(0,0,0,.14);
}
.gallery-book {
  float: left;
  margin: -22px 30px 20px 20px;
  width: 140px;
}
.gallery-book img{
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	display: block;
	box-shadow: 0 2px 3px rgba(0,0,0,.15);
}
.gallery-book-info {
  color: #727272;
  padding: 25px 40px 0 0;
}
.gallery-footer {
  border-top: 1px solid #ddd;
  clear: both;
  color: #738797;
  font-size: 12px;
  margin-left: 20px;
  padding: 10px 0;
}
.gallery-footer span{
	color: #727272;
}

.gallery-rating {
  color: #c0c0c0;
  font-size: 12px;
  font-weight: 300;
  margin: 15px 0;
}
.gallery-rating img {
  margin: -4px 15px 0 0;
}
.gallery-para {
  color: #738797;
  font-weight: 300;
  line-height: 24px;
}
.gallery-book-info > h4 {
  color: #3a4752;
  font-weight: normal;
  margin: 0 0 5px;
}
.gallery-tab-row {
  border-bottom: 1px solid #e8ebed;
  padding:  0;
  width: 96%;
  margin: 0 auto;
}
.gallery-tab-row h4 {
  float: left;
  font-weight: normal;
  margin: 15px 0 0;
}
.gallery-tab-row .button-group{
	float: right;
}
.gallery-tab-row .button-group .button{
	background: none;
	border: none;
	border-bottom: 3px solid transparent;
	padding: 18px;
}
.gallery-tab-row .button-group .button.is-checked{
	border-bottom: 3px solid #56d0e9;

}